In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
# The file does the following:
    # predict values for data:
        # with non-null depreciation, dereg_value and omv attributes
        # with null depreciation but non-null dereg_value and omv
        # with non-null depreciation and omv but null dereg_value
        # with null depreciation, dereg_values but non-null omv
        # other cases

In [329]:
df = pd.read_csv('train_basic.csv')

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16784 entries, 0 to 16783
Data columns (total 48 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         16784 non-null  int64
 1   listing_id         16784 non-null  int64
 2   title              16784 non-null  object
 3   make               14624 non-null  object
 4   model              16784 non-null  object
 5   description        16439 non-null  object
 6   manufactured       16590 non-null  float64
 7   original_reg_date  318 non-null    object
 8   reg_date           16583 non-null  object
 9   type_of_vehicle    16784 non-null  object
 10  category           16784 non-null  object
 11  transmission       16784 non-null  object
 12  curb_weight        16205 non-null  float64
 13  power              16784 non-null  float64
 14  fuel_type          3490 non-null   object
 15  engine_cap         16784 non-null  float64
 16  no_of_owners       16608 non-null  float64
 17  depreciation       16351 non-null  float64
 18  coe                15893 non-null  float64
 19  road_tax           14630 non-null  float64
 20  dereg_value        15595 non-null  float64
 21  mileage            16784 non-null  float64
 22  omv                16743 non-null  float64
 23  arf                16743 non-null  float64
 24  opc_scheme         207 non-null    object
 25  lifespan           1702 non-null   object
 26  eco_category       16784 non-null  object
 27  features           16325 non-null  object
 28  accessories        13971 non-null  object
 29  indicative_price   0 non-null      float64
 30  price              16784 non-null  float64
 31  age                16784 non-null  int64
 32  remaining_coe      16583 non-null  float64
 33  diesel             16784 non-null  int64
 34  electric           16784 non-null  int64
 35  petrol             16784 non-null  int64
 36  petrol-electric    16784 non-null  int64
 37  bus/mini bus       16784 non-null  int64
 38  hatchback          16784 non-null  int64
 39  luxury sedan       16784 non-null  int64
 40  mid-sized sedan    16784 non-null  int64
 41  mpv                16784 non-null  int64
 42  others             16784 non-null  int64
 43  sports car         16784 non-null  int64
 44  stationwagon       16784 non-null  int64
 45  suv                16784 non-null  int64
 46  truck              16784 non-null  int64
 47  van                16784 non-null  int64
dtypes: float64(15), int64(18), object(15)
memory usage: 6.1+ MB

In [344]:
useful = ['omv', 'age', 'remaining_coe', 'truck', 'suv', 'sports car', 'luxury sedan',\
         'bus/mini bus', 'mid-sized sedan', 'stationwagon', 'hatchback', 'mpv', 'depreciation', 'dereg_value']
train = df.dropna(subset = ['dereg_value', 'depreciation', 'remaining_coe', 'omv'])
df1 = train[useful]
price1 = train['price']
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15434 entries, 0 to 16783
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   omv              15434 non-null  float64
 1   age              15434 non-null  int64
 2   remaining_coe    15434 non-null  float64
 3   truck            15434 non-null  int64
 4   suv              15434 non-null  int64
 5   sports car       15434 non-null  int64
 6   luxury sedan     15434 non-null  int64
 7   bus/mini bus     15434 non-null  int64
 8   mid-sized sedan  15434 non-null  int64
 9   stationwagon     15434 non-null  int64
 10  hatchback        15434 non-null  int64
 11  mpv              15434 non-null  int64
 12  depreciation     15434 non-null  float64
 13  dereg_value      15434 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.8 MB

In [345]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df1, price1, 
                                                    train_size=0.7,
                                                    test_size = 0.3, random_state=100)

In [348]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor(random_state = 0, n_estimators = 500, max_features=5).fit(X_train,y_train)

In [349]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)

195319698.55806267

In [350]:
model=RandomForestRegressor(random_state = 0, n_estimators = 500, max_features=6).fit(df1,price1)

In [352]:
test_ = pd.read_csv('test_basic.csv')

In [353]:
useful = ['omv', 'age', 'remaining_coe', 'truck', 'suv', 'sports car', 'luxury sedan',\
         'bus/mini bus', 'mid-sized sedan', 'stationwagon', 'hatchback', 'mpv', 'depreciation', 'dereg_value']
test = test_[useful]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   omv              4988 non-null   float64
 1   age              5000 non-null   int64
 2   remaining_coe    5000 non-null   int64
 3   truck            5000 non-null   int64
 4   suv              5000 non-null   int64
 5   sports car       5000 non-null   int64
 6   luxury sedan     5000 non-null   int64
 7   bus/mini bus     5000 non-null   int64
 8   mid-sized sedan  5000 non-null   int64
 9   stationwagon     5000 non-null   int64
 10  hatchback        5000 non-null   int64
 11  mpv              5000 non-null   int64
 12  depreciation     4868 non-null   float64
 13  dereg_value      4665 non-null   float64
dtypes: float64(3), int64(11)
memory usage: 547.0 KB

In [354]:
test = test.fillna(999999999999)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   omv              5000 non-null   float64
 1   age              5000 non-null   int64
 2   remaining_coe    5000 non-null   int64
 3   truck            5000 non-null   int64
 4   suv              5000 non-null   int64
 5   sports car       5000 non-null   int64
 6   luxury sedan     5000 non-null   int64
 7   bus/mini bus     5000 non-null   int64
 8   mid-sized sedan  5000 non-null   int64
 9   stationwagon     5000 non-null   int64
 10  hatchback        5000 non-null   int64
 11  mpv              5000 non-null   int64
 12  depreciation     5000 non-null   float64
 13  dereg_value      5000 non-null   float64
dtypes: float64(3), int64(11)
memory usage: 547.0 KB

In [355]:
preds = model.predict(test)
preds = pd.DataFrame(preds)
preds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5000 non-null   float64
dtypes: float64(1)
memory usage: 39.2 KB

In [356]:
preds.to_csv('best_for_valid.csv')