In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [230]:
# df = pd.read_csv('filled_depreciation.csv')
df = pd.read_csv('calculated_dereg.csv')

In [225]:
# ['depreciation', 'omv', 'arf', 'age', 'remaining_coe', 'dereg_value', 'truck', 'suv', 'sports car', 'luxury sedan',\
#          'bus/mini bus', 'mid-sized sedan', 'stationwagon', 'hatchback', 'mpv', 'mileage']

# not sure: ['coe', 'road_tax', 'mileage']

In [226]:
# init = pd.read_csv('train.csv')
# df['depreciation'] = init['depreciation']
# df = df.dropna(subset = ['depreciation'])

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16784 entries, 0 to 16783
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         16784 non-null  int64
 1   Unnamed: 0.1       16784 non-null  int64
 2   listing_id         16784 non-null  int64
 3   title              16784 non-null  object
 4   make               16784 non-null  object
 5   model              16784 non-null  object
 6   description        16439 non-null  object
 7   manufactured       16590 non-null  float64
 8   original_reg_date  318 non-null    object
 9   reg_date           16583 non-null  object
 10  type_of_vehicle    16784 non-null  object
 11  category           16784 non-null  object
 12  transmission       16784 non-null  object
 13  curb_weight        16205 non-null  float64
 14  power              16784 non-null  float64
 15  fuel_type          3490 non-null   object
 16  engine_cap         16784 non-null  float64
 17  no_of_owners       16608 non-null  float64
 18  depreciation       16351 non-null  float64
 19  coe                16784 non-null  float64
 20  road_tax           14630 non-null  float64
 21  dereg_value        16784 non-null  float64
 22  mileage            16784 non-null  float64
 23  omv                16784 non-null  float64
 24  arf                16784 non-null  float64
 25  opc_scheme         207 non-null    object
 26  lifespan           1702 non-null   object
 27  eco_category       16784 non-null  object
 28  features           16325 non-null  object
 29  accessories        13971 non-null  object
 30  indicative_price   0 non-null      float64
 31  price              16784 non-null  float64
 32  age                16784 non-null  int64
 33  remaining_coe      16784 non-null  float64
 34  diesel             16784 non-null  int64
 35  electric           16784 non-null  int64
 36  petrol             16784 non-null  int64
 37  petrol-electric    16784 non-null  int64
 38  bus/mini bus       16784 non-null  int64
 39  hatchback          16784 non-null  int64
 40  luxury sedan       16784 non-null  int64
 41  mid-sized sedan    16784 non-null  int64
 42  mpv                16784 non-null  int64
 43  others             16784 non-null  int64
 44  sports car         16784 non-null  int64
 45  stationwagon       16784 non-null  int64
 46  suv                16784 non-null  int64
 47  truck              16784 non-null  int64
 48  van                16784 non-null  int64
dtypes: float64(15), int64(19), object(15)
memory usage: 6.3+ MB

In [233]:
useful = ['power', 'omv', 'arf', 'age', 'remaining_coe', 'truck', 'suv', 'sports car', 'luxury sedan',\
         'bus/mini bus', 'mid-sized sedan', 'stationwagon', 'hatchback', 'mpv', 'depreciation']
train = df.dropna(subset = ['depreciation'])
df1 = train[useful]
price1 = train['price']
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16351 entries, 0 to 16783
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   power            16351 non-null  float64
 1   omv              16351 non-null  float64
 2   arf              16351 non-null  float64
 3   age              16351 non-null  int64
 4   remaining_coe    16351 non-null  float64
 5   truck            16351 non-null  int64
 6   suv              16351 non-null  int64
 7   sports car       16351 non-null  int64
 8   luxury sedan     16351 non-null  int64
 9   bus/mini bus     16351 non-null  int64
 10  mid-sized sedan  16351 non-null  int64
 11  stationwagon     16351 non-null  int64
 12  hatchback        16351 non-null  int64
 13  mpv              16351 non-null  int64
 14  depreciation     16351 non-null  float64
dtypes: float64(5), int64(10)
memory usage: 2.0 MB

In [234]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df1, price1, 
                                                    train_size=0.7,
                                                    test_size = 0.3, random_state=100)

In [241]:
from sklearn.ensemble import RandomForestRegressor

# model=RandomForestRegressor(random_state = 0, n_estimators = 500, max_features=9).fit(X_train,y_train)
model=RandomForestRegressor(random_state = 0, n_estimators = 500, max_features=8).fit(X_train,y_train)

In [242]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)
# 828802137 - 7/10, 500 ->200,82
# 884452400, without dereg_value
# 769700187
# 313001378,307
# 309631534, 79
# 37

421898449.16979027

In [243]:
model=RandomForestRegressor(random_state = 0, n_estimators = 500, max_features=7).fit(df1,price1)

In [244]:
df = pd.read_csv('calculated_dereg_test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 48 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5000 non-null   int64
 1   Unnamed: 0.1       5000 non-null   int64
 2   listing_id         5000 non-null   int64
 3   title              5000 non-null   object
 4   make               5000 non-null   object
 5   model              5000 non-null   object
 6   description        4889 non-null   object
 7   manufactured       4939 non-null   float64
 8   original_reg_date  100 non-null    object
 9   reg_date           4939 non-null   object
 10  type_of_vehicle    5000 non-null   object
 11  category           5000 non-null   object
 12  transmission       5000 non-null   object
 13  curb_weight        4844 non-null   float64
 14  power              5000 non-null   float64
 15  fuel_type          1051 non-null   object
 16  engine_cap         5000 non-null   float64
 17  no_of_owners       4944 non-null   float64
 18  depreciation       4868 non-null   float64
 19  coe                5000 non-null   float64
 20  road_tax           4366 non-null   float64
 21  dereg_value        5000 non-null   float64
 22  mileage            5000 non-null   float64
 23  omv                5000 non-null   float64
 24  arf                5000 non-null   float64
 25  opc_scheme         58 non-null     object
 26  lifespan           504 non-null    object
 27  eco_category       5000 non-null   object
 28  features           4873 non-null   object
 29  accessories        4159 non-null   object
 30  indicative_price   0 non-null      float64
 31  age                5000 non-null   int64
 32  remaining_coe      5000 non-null   float64
 33  diesel             5000 non-null   int64
 34  electric           5000 non-null   int64
 35  petrol             5000 non-null   int64
 36  petrol-electric    5000 non-null   int64
 37  bus/mini bus       5000 non-null   int64
 38  hatchback          5000 non-null   int64
 39  luxury sedan       5000 non-null   int64
 40  mid-sized sedan    5000 non-null   int64
 41  mpv                5000 non-null   int64
 42  others             5000 non-null   int64
 43  sports car         5000 non-null   int64
 44  stationwagon       5000 non-null   int64
 45  suv                5000 non-null   int64
 46  truck              5000 non-null   int64
 47  van                5000 non-null   int64
dtypes: float64(14), int64(19), object(15)
memory usage: 1.8+ MB

In [248]:
useful = ['power', 'omv', 'arf', 'age', 'remaining_coe', 'truck', 'suv', 'sports car', 'luxury sedan',\
         'bus/mini bus', 'mid-sized sedan', 'stationwagon', 'hatchback', 'mpv', 'depreciation']
df = df[useful]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   power            5000 non-null   float64
 1   omv              5000 non-null   float64
 2   arf              5000 non-null   float64
 3   age              5000 non-null   int64
 4   remaining_coe    5000 non-null   float64
 5   truck            5000 non-null   int64
 6   suv              5000 non-null   int64
 7   sports car       5000 non-null   int64
 8   luxury sedan     5000 non-null   int64
 9   bus/mini bus     5000 non-null   int64
 10  mid-sized sedan  5000 non-null   int64
 11  stationwagon     5000 non-null   int64
 12  hatchback        5000 non-null   int64
 13  mpv              5000 non-null   int64
 14  depreciation     5000 non-null   float64
dtypes: float64(5), int64(10)
memory usage: 586.1 KB

In [249]:
df['depreciation'] = df.fillna(0)

G:\softwares\envs\4277lab\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [250]:
preds = model.predict(df)
preds = pd.DataFrame(preds)
preds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5000 non-null   float64
dtypes: float64(1)
memory usage: 39.2 KB

In [251]:
preds.to_csv('no_reg_but_dep_42.csv')